
<%= form_for(@restaurant) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

 <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

 <div class="form-group">

    <%= f.select :category, options_for_select([
      ['Category', ''],
        'chinese',
        'italian',
        'japanese',
        'french',
        'belgian'
      ]),
        {}, class: 'form form-group form-control' %>

    <%= f.submit class: 'btn btn-primary' %>
  </div>



<% end %>
